<div class="outer_div">
  <div class="pokemon_main_div">
    <div class="pokemon_heading"><span>POKEMON !</span></div>
  </div>

  <div class="pokemon-grid">

    <div class="prokemon-card_div">
      <div class="pokemon-card">
        <div class="starter_div">
          <section class="stater_section">
            <span> STARTERS </span>
          </section>
        </div>
        <span>Starter Pokemon</span>
        <p><i>
          Starter pokemon are the cutest pokemon in the world ! They hold the
          world record for the cutesness</i>
        </p>
      </div>
    </div>
    <div class="pokemon-info-grid">
      <app-pokemon-info-grid></app-pokemon-info-grid>
    </div>
    <div class="pokemon-info-grid">
      <app-pokemon-info-grid></app-pokemon-info-grid>
    </div>
  </div>
  <div class="yeah_main_div">
    <div class="yeah_heading"><span>YEAH !</span></div>
  </div>
  <div class="yeah_main_div2">
    <div class="yeah_heading2"></div>
  </div>
</div>
